.Box{

height: 200px;
width: 300px;
background-color: blueviolet;
color: aliceblue;


}

.responsive-box{

    width: 50%;
    height: 50%;
    background-color: blue;
    color: aliceblue;
    
    }


    .padded-text{

        padding: 20px;
        background-color: lightslategray;
        
        }