.Box{

height: 200px;
width: 300px;
background-color: blueviolet;
color: aliceblue;


}

.responsive-box{

    width: 50%;
    height: 50%;
    background-color: blue;
    color: aliceblue;
    
    }


.padded-text{

        padding: 20px;
        background-color: lightslategray;
        
        }

.custom-padding{

padding: 10px 20px;
background-color:lightpink ; 

}

.border-box{

border: 2px solid black;
background-color: lightgreen;

}

.rounded-border{

border: 3px dotted red;
border-radius: 15px;


}

.margin-text{

margin: 30px;
background-color: brown;
color: white;

}

.custom-margin{

margin: 20px 40px;
background-color: aqua;
padding: 10px;

}

.inline-element{

display: inline;
padding: 10px;
background-color: blueviolet;
color: antiquewhite;
margin-right: 5px;

}

.block-element{

    display: block;
    padding: 10px;
    background-color: blue;
    color: white;

}

.inline-block-element{

display: inline-block;
background-color: lightsalmon;
padding: 10px;

}

